/* Navbar background*/
.navbar {
    background-color: whitesmoke;
}

/* Navbar Latitude Format */
.navbar-brand {
    background-color: #0bada6;
}

/* Navbar Latitude Font */
#navbar-brand {
    color: white;
    padding: 8px;
    font-size: 23px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

/* Body */
body {
    background-color: lightgrey;
}

/* Container */
.container {
    padding: 20px;
}

/* Secondary container */
.contain {
    background-color: white;
}

/* Column Style */
.col-md-7, .col-md-4 {
    background-color: white;
    margin: 10px;
    padding: 20px;
}

/* Heading */
h1 {
    color: #0bada6;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Horizontal bar */
#horiz {
    margin-top:10px;
    margin-bottom:10px;
}

/* Center Alignment */
.middle {
    text-align: center;
    display: block;
}

/* Image float */
.imgwrap {
    float: left;
}

/* Image outline */
.imgborder {
    border-style: solid;
    border: #0bada6;
}

/* Table */
.table {
    background: aquamarine;
}